body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
    background-color: #ac3030;

}


.card {
  position: relative;
  margin: 30px;
  padding: 30px;
  border-radius: 20px;
  background:#7a030d;
  backdrop-filter: blur(10px);
  height: 50vh;
}

.bg {
  position: absolute;
  width: 95%;
  height: 86%;
  object-fit: cover;
  filter: blur(6px);
  opacity: 1.0;
}

.conteudo {
  position: relative;
  z-index: 2;
  max-width: 500px;
}

p {
  opacity: 1.0;
  color: #fff;
  font-style: italic;
}
h1{
  color: #fff;
  font-style: italic;
  font-size: 28px;
}

.mini-card {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
  background: #810100;
  padding: 20px;
  border-radius:20px;
  width: fit-content;
  width: 150px;
}

.mini-card img {
  width: 150px;
  border-radius: 70px;
  height: 100px;
}

.pequeno {
  text-align: center;
}

.galeria {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  height: 180px;
}

.galeria img {
  width: 300px;
  border-radius: 15px;
}

ul {
  color: #fff;
}

a{
  color: #fff;
}